<footer class="site-footer">

	<div class="wrapper">

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<h3>Contact</h3>
					<li><b>agido GmbH</b></li>
					<li>Hafenpromenade 3a</li>
					<li>44263 Dortmund</li>
					<li>Germany</li>
					<li class="space">Fon:+49 231 399 802 70</li>
					<li>Fax:+49 231 399 802 69</li>
					<li class="space">Homepage: <a href="https://www.agido.com/">https://www.agido.com/</a></li>
					<li>EMail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>
		</div>

		<p class="copyright">{{ site.description }} | <a href="/imprint/">Imprint</a></p>

	</div>

</footer>
